header {
}

h1 {
	text-align:left;
}

header, a {
	text-align : right;
	margin: 10px;
}


body, h2 {
	text-align : center;
	font-family: sans-serif;
	background-color: #1aa3ff;

}
label{
	margin-left: 250px;
	vertical-align: top;
	
	width:150px;
	float:left;
	display: block;
	margin: 10px;

}

input{
	
	margin-right: 50px;
	text-align: center;
    justify-content: space-between;
    width: 200px;
    margin: 10px;
}
.class{
	margin-left: 300px;
}

#listArticles {
	border : solid 1px grey;
}

button {
	display : inline-block;
}

p {
	text-align : center;
}

fieldset{
	margin-left: 450px;
	margin-right: 450px;
}
