header {
}

h1 {
	text-align:left;
}

header, a {
	text-align : right;
	margin: 10px;
}


body, h2 {
	text-align : center;
	font-family: sans-serif;
	background-color: #1aa3ff;

}
.label{
display:block;
width:150px;
float:left;

}

.input{
	text-align: center;
    justify-content: space-between;
    width: 200px;
    margin: 10px;
}

#listArticles {
	border : solid 1px grey;
}

p {
	text_align : center;
}


