body{
		background-color: #1aa3ff;
		font-family: sans-serif;
		color: blue;
}
h2{
	text-align: center;
}

label
{
	display: block;
	width: 150px;
	float: left;
	margin-left: 50px;
	margin: 10px;
}

.data{
	margin-left: 250px;
	margin-right: 150px;
}

input{
	margin: 10px;
}
.boutons{
	text-align: center;
}

p{
	text-align: center;
}

h1,h2,h3{
display: inline;
