html {
}

.divPage {
	 margin: 0 auto;
     width: 500px; 
}

.column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

input {
	width: 300px;
	padding: 6px 10px;
	margin: 5px 0px;
	box-sizing: border-box;
	border : 1px solid CornflowerBlue;
	border-radius : 5px;
}

label {
	display:inline-block;
	width: 100px;
}

input:focus {
	border : 2px solid rgb(19, 74, 128);
}

img {
	float: left;
}

button, input[type=button] {
	background-color: CornflowerBlue;
	border: none;
	border-radius: 5px;
	color: white;
	padding: 12px 20px;
	margin: 5px 0px;
	width: 150px;

}

button:hover, input[type=button]:hover {
	background-color: rgb(19, 74, 128);
}

#btnActions {
	margin-left: 100px;
}

a {
	text-decoration: none;
}

a:hover {
	color: rgb(19, 74, 128);
}

form {
	width: 500px;
	background-color: WhiteSmoke;
	border : none;
	border-radius: 10px;
	margin: 0px Opx;
	padding : 10px 10px 20px 20px;

}

